*{ 
    padding: 0;
    margin: px;
    box-sizing: border-box;
}
.header h1{
  text-align: center;
  color: rgb(29, 53, 5);
}
.header{
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: greenyellow;
    }
#logtag{
  text-align: right;
  margin-right: 10px;
  margin-top: 0px;
}
#logtag a{
  text-decoration: none;
  color: green;
  cursor:pointer;
  padding: 2%;
}
.container{
  margin-top: 20px;
}
.navbar{ 
  width: 100%;
  display: flex;
  align-items: center;
  }
  .menu-icon{
    cursor: pointer;
    margin: auto;
  }
    nav{
    flex: 1;
    text-align: right;
      }
      nav ul li{
        display: inline-block;
        list-style: none;
        margin-right: 30px;
      }
      nav ul li a{
        text-decoration: none;
        color: green;
        font-size: 20px;
        text-align: center;
        margin: 10px,10px;
      }
      nav ul li a:hover{
        color: green;
      }
      #row{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px 0;
      }
      .col-1{
        flex-basis: 40%;
        position: relative;
       margin-left: 40px;
      }
      h2{
        font-size: 54px;
        color: darkgreen;
      }
      h4{
        font-size:x-large;
      }
      h5{
        font-size: xx-large;
      }
      .col-1 h3{
        font-size: 24px;
        font-weight: 100;
        margin: 20px 0 10px;
     }
